    /* =====================================================================================================================
     *  Binary tactics: Initialization
     * ================================================================================================================== */


/* Overriding default values
 * ---------------------------------------------------------------------------------------------------------------------- */

* { margin: 0px; padding: 0px; }


/*      Elements animations
// ====================================================================================================================== */

    /* DOM manipulation animations: Slide in/out */

    .animationContainer { }

    .enterFromLeft, .enterFromRight, .enterFade {
        position: relative;
        transition: all linear 0.4s;
    }
    .leaveToLeft, .leaveToRight, .leaveFade {
        position: relative;
        transition: all linear 0.2s;
    }

    .enterFromLeft                              { left: -200%; }
    .enterFromLeft.enterFromLeft-active         { left: 0px; }

    .enterFromRight                             { right: -200%; }
    .enterFromRight.enterFromRight-active       { right: 0px; }

    .enterFade                                  { opacity: 0; }
    .enterFade.enterFade-active                 { opacity: 1; }

    .leaveToLeft                                { left: 0px; }
    .leaveToLeft.leaveToLeft-active             { left: -100%; }

    .leaveToRight                               { right: 0px; }
    .leaveToRight.leaveToRight-active           { right: -100%; }

    .leaveFade                                  { opacity: 1; }
    .leaveFade.leaveFade-active                 { opacity: 0; }


/* Generic
 * ---------------------------------------------------------------------------------------------------------------------- */

BODY {
    width: 100%;
    overflow-x: hidden;
    
    background: #444444;
}

/* TEMP
 * ---------------------------------------------------------------------------------------------------------------------- */

div.section {
    padding: 20px;
    margin: 10px;
    
    border: 1px solid #000000;
    background-color: #eeeeee;
    
    font-family: monospace;
    font-size: 11px;
}

/* Page markup (TEMP)
 * ---------------------------------------------------------------------------------------------------------------------- */

div.menu {
    clear: both;
    float: left;
    margin: 10px 0px 0px 0px;
    padding: 4px;
}
div.menu div.link {
    float: left;
    margin: 0px 4px 0px 0px;
}
div.menu div.link a {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #444444;
}
div.menu div.link:hover a {
    padding: 4px;
    border: 2px solid #444444;
}

/* Battle view markup (TEMP)
 * ---------------------------------------------------------------------------------------------------------------------- */

div.timers {
    float: right;
    margin: 4px 10px 4px 10px;
    padding: 4px;
    border: 1px solid #444444;
}
div.timer {
    color: #990000;
}