    /* =====================================================================================================================
     *  Binary tactics: Initialization
     * ================================================================================================================== */


/* Overriding default values
 * ---------------------------------------------------------------------------------------------------------------------- */

* { margin: 0px; padding: 0px; }


/*      Elements animations
// ====================================================================================================================== */

    /* DOM manipulation animations: Slide in/out */

    .animationContainer { }

    .enterFromLeft, .enterFromRight, .enterFade {
        position: relative;
        transition: all linear 0.4s;
    }
    .leaveToLeft, .leaveToRight, .leaveFade {
        position: relative;
        transition: all linear 0.2s;
    }

    .enterFromLeft                              { left: -200%; }
    .enterFromLeft.enterFromLeft-active         { left: 0px; }

    .enterFromRight                             { right: -200%; }
    .enterFromRight.enterFromRight-active       { right: 0px; }

    .enterFade                                  { opacity: 0; }
    .enterFade.enterFade-active                 { opacity: 1; }

    .leaveToLeft                                { left: 0px; }
    .leaveToLeft.leaveToLeft-active             { left: -100%; }

    .leaveToRight                               { right: 0px; }
    .leaveToRight.leaveToRight-active           { right: -100%; }

    .leaveFade                                  { opacity: 1; }
    .leaveFade.leaveFade-active                 { opacity: 0; }


/* Generic
 * ---------------------------------------------------------------------------------------------------------------------- */

BODY {
    width: 100%;
    overflow-x: hidden;
    
    background: #444444;
}

/* TEMP
 * ---------------------------------------------------------------------------------------------------------------------- */

div.section {
    padding: 20px;
    margin: 10px;
    
    border: 1px solid #000000;
    background-color: #eeeeee;
    
    font-family: monospace;
    font-size: 11px;
}

/* Page markup (TEMP)
 * ---------------------------------------------------------------------------------------------------------------------- */

div.menu {
    clear: both;
    float: left;
    margin: 10px 0px 0px 0px;
    padding: 4px;
}
    div.menu div.link {
        float: left;
        margin: 0px 4px 0px 0px;
    }
        div.menu div.link a {
            padding: 5px;
            cursor: pointer;
            border: 1px solid #444444;
        }
        div.menu div.link:hover a {
            padding: 4px;
            border: 2px solid #444444;
        }

/* Battle view markup (TEMP)
 * ---------------------------------------------------------------------------------------------------------------------- */

div.toolbox {
    float: right;
}

div.toolbox div.timers {
    clear: right;
    float: right;
    margin: 4px 10px 4px 10px;
    padding: 4px;
    border: 1px solid #444444;
}
    div.toolbox div.timers div.timer {
        color: #990000;
    }

div.toolbox div.selected {
    clear: right;
    float: right;
    margin: 4px 10px 4px 10px;
    padding: 4px;
    border: 1px solid #444444;
}


div.grid {
    float: left;
}
    div.grid div.grid_row {
        clear: left;
        float: left;
    }
    div.grid div.grid_row:nth-child(even) {
        margin-left:  23px;
    }

        div.grid div.grid_row div.tile {
            float: left;
            width: 44px;
            height: 44px;
            margin-bottom: -8px;
            margin-right: 0px;

            background: url('../graphics/battle/tile.png') top left no-repeat;
            cursor: pointer;
            font-size: 9px;
        }
        div.grid div.grid_row div.tile:hover {
            background-position: bottom left;
        }

        div.grid div.grid_row div.tile_style {
            float: left;
            width: 44px;
            height: 44px;
        }
    div.grid div.grid_row div.tile_selected {
        background: url('../graphics/battle/tile_selected.png') top left no-repeat;
    }
    div.grid div.grid_row div.tile_move_near {
        background: url('../graphics/battle/tile_move_near.png') top left no-repeat;
    }
    div.grid div.grid_row div.tile_move_far {
        background: url('../graphics/battle/tile_move_far.png') top left no-repeat;
    }
    div.grid div.grid_row div.tile_attack {
        background: url('../graphics/battle/tile_attack.png') top left no-repeat;
    }

            div.grid div.grid_row div.tile div.unit {
                float: left;
                width: 32px;
                height: 38px;

                margin-left: 6px;
                margin-top: -8px;

                background: url('../graphics/battle/ofzza.gif') top left no-repeat;
            }

            div.grid div.grid_row div.tile div.info {
                position: relative;
                display: none;
                float: left;
                left: 48px;
                top: 48px;
                padding: 2px;

                border: 1px solid #444444;
                background-color: #ffffff;
            }
            div.grid div.grid_row div.tile:hover div.info {
                display: block;
                width: 200px;
            }
                div.grid div.grid_row div.tile:hover div.info div.header {
                    clear: both;
                    float: left;
                    font-size: 11px;
                    text-decoration: bold;
                }
                div.grid div.grid_row div.tile:hover div.info div.details {
                    clear: both;
                    float: left;
                    margin-top: 8px;
                    margin-left: 10px;
                }
                    div.grid div.grid_row div.tile:hover div.info div.details div.title {
                        clear: both;
                        float: left;
                        font-size: 9px;
                        margin-bottom: 2px;
                        text-decoration: underline;
                    }
                    div.grid div.grid_row div.tile:hover div.info div.details div.detail {
                        clear: both;
                        float: left;
                        font-size: 9px;
                    }
