    /* =====================================================================================================================
     *  Binary tactics: Initialization
     * ================================================================================================================== */


/* Overriding default values
 * ---------------------------------------------------------------------------------------------------------------------- */

* { margin: 0px; padding: 0px; }


/*      Elements animations
// ====================================================================================================================== */

    /* DOM manipulation animations: Slide in/out */

    .animationContainer { }

    .enterFromLeft, .enterFromRight, .enterFade {
        position: relative;
        transition: all linear 0.4s;
    }
    .leaveToLeft, .leaveToRight, .leaveFade {
        position: relative;
        transition: all linear 0.2s;
    }

    .enterFromLeft                              { left: -200%; }
    .enterFromLeft.enterFromLeft-active         { left: 0px; }

    .enterFromRight                             { right: -200%; }
    .enterFromRight.enterFromRight-active       { right: 0px; }

    .enterFade                                  { opacity: 0; }
    .enterFade.enterFade-active                 { opacity: 1; }

    .leaveToLeft                                { left: 0px; }
    .leaveToLeft.leaveToLeft-active             { left: -100%; }

    .leaveToRight                               { right: 0px; }
    .leaveToRight.leaveToRight-active           { right: -100%; }

    .leaveFade                                  { opacity: 1; }
    .leaveFade.leaveFade-active                 { opacity: 0; }


/* Generic
 * ---------------------------------------------------------------------------------------------------------------------- */

BODY {
    width: 100%;
    overflow-x: hidden;
    
    background: #444444;
}

/* TEMP
 * ---------------------------------------------------------------------------------------------------------------------- */

div.section {
    padding: 20px;
    margin: 10px;
    
    border: 1px solid #000000;
    background-color: #eeeeee;
    
    font-family: monospace;
    font-size: 11px;
}

/* Page markup (TEMP)
 * ---------------------------------------------------------------------------------------------------------------------- */

div.menu {
    clear: both;
    float: left;
    margin: 10px 0px 0px 0px;
    padding: 4px;
}
    div.menu div.link {
        float: left;
        margin: 0px 4px 0px 0px;
    }
        div.menu div.link a {
            padding: 5px;
            cursor: pointer;
            border: 1px solid #444444;
        }
        div.menu div.link:hover a {
            padding: 4px;
            border: 2px solid #444444;
        }

/* Battle view markup (TEMP)
 * ---------------------------------------------------------------------------------------------------------------------- */

div.game_over {
    position: fixed;
    width: 100%;
    height: 40%;
    margin: 30% 0px 30% 0px;

    opacity: 0.6;
    background: #444444;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    font-size: 18px;
    font-weight: bold;
}

div.toolbox {
    float: right;
}

    div.toolbox div.group {
        clear: right;
        float: right;
        width: 240px;
        margin: 4px 10px 4px 10px;
        padding: 5px;

        background: #999999;
        color: #eeeeee;
        border: 1px solid #444444;
        border-radius: 5px;

        font-size: 11px;
    }
        div.toolbox div.group div.header {
            clear: both;
            float: left;
            width: 100%;
            margin-bottom: 4px;

            border-bottom: 1px solid #eeeeee;

            font-size: 13px;
            font-weight: bold;
        }
            div.toolbox div.group div.header div.title {
                float: left;
            }
        div.toolbox div.group div.header div.data {
            float: right;
            color: #444444;
        }
        div.toolbox div.group div.header div.comment {
            float: left;
            margin: 2px 2px 2px 20px;

            font-size: 9px;
        }

    div.toolbox div.group div.subgroup {
        margin-left: 20px;
    }

    div.toolbox div.player {
    }

    div.toolbox div.timers {
    }
        div.toolbox div.timers div.timer {
            clear: both;
            float: right;
            width: 220px;
            margin-bottom: 2px;

            font-size: 11px;
        }
        div.toolbox div.timers div.action_endturn {
            clear: both;
            float: left;
            width: 120px;
            margin: 4px;
            padding: 5px;

            border: 1px solid #444444;
            border-radius: 5px;
            background: #444444;

            color: #eeeeee;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
        }
        div.toolbox div.timers div.action_endturn:hover {
            color: #444444;
            background: #eeeeee;
            text-decoration: underline;
        }

div.stone {
    clear: both;
    float: right;
    padding: 4px;
}
    div.stone div.element {
        float: left;
        width: 30px;
        height: 20px;
        padding-left: 24px;
    }
    div.stone div.earth { background: url('../graphics/battle/element_earth.png') top left no-repeat; }
    div.stone div.fire { background: url('../graphics/battle/element_fire.png') top left no-repeat; }
    div.stone div.ice { background: url('../graphics/battle/element_ice.png') top left no-repeat; }
    div.stone div.wind { background: url('../graphics/battle/element_wind.png') top left no-repeat; }

div.stone_small {
    clear: both;
    float: right;
    padding: 4px;
}
    div.stone_small div.element {
        float: left;
        width: 20px;
        height: 10px;
        padding-left: 12px;

        font-size: 9px;
    }
    div.stone_small div.earth { background: url('../graphics/battle/element_small_earth.png') top left no-repeat; }
    div.stone_small div.fire { background: url('../graphics/battle/element_small_fire.png') top left no-repeat; }
    div.stone_small div.ice { background: url('../graphics/battle/element_small_ice.png') top left no-repeat; }
    div.stone_small div.wind { background: url('../graphics/battle/element_small_wind.png') top left no-repeat; }

div.element_Earth { display: inline-block; width: 20px; height: 20px; background: url('../graphics/battle/element_earth.png') top left no-repeat; }
div.element_Fire { display: inline-block; width: 20px; height: 20px; background: url('../graphics/battle/element_fire.png') top left no-repeat; }
div.element_Ice { display: inline-block; width: 20px; height: 20px; background: url('../graphics/battle/element_ice.png') top left no-repeat; }
div.element_Wind { display: inline-block; width: 20px; height: 20px; background: url('../graphics/battle/element_wind.png') top left no-repeat; }

div.element_small_Earth { display: inline-block; width: 10px; height: 10px; background: url('../graphics/battle/element_small_earth.png') top left no-repeat; }
div.element_small_Fire { display: inline-block; width: 10px; height: 10px; background: url('../graphics/battle/element_small_fire.png') top left no-repeat; }
div.element_small_Ice { display: inline-block; width: 10px; height: 10px; background: url('../graphics/battle/element_small_ice.png') top left no-repeat; }
div.element_small_Wind { display: inline-block; width: 10px; height: 10px; background: url('../graphics/battle/element_small_wind.png') top left no-repeat; }

div.unit_stats {
    clear: both;
    float: left;
    padding: 4px;
}

    div.unit_stats div.hp {
        font-size: 15px;
        font-weight: bold;
    }
    div.unit_stats div.power {
        clear: both;
        float: left;
        margin: 2px;

        font-size: 11px;
    }
        div.unit_stats div.power div {
            float: left;
        }
        div.unit_stats div.power div.type {
            width: 120px;
        }
        div.unit_stats div.power div.stat {
            width: 30px;
            height: 20px;
            padding-left: 24px;
        }
        div.unit_stats div.power div.value { background: url('../graphics/battle/stats_value.png') top left no-repeat; }
        div.unit_stats div.power div.attack { background: url('../graphics/battle/stats_attack.png') top left no-repeat; }
        div.unit_stats div.power div.defend { background: url('../graphics/battle/stats_defend.png') top left no-repeat; }

    div.unit_stats div.power_small {
        clear: both;
        float: left;
        margin: 1px;

        font-size: 9px;
    }
        div.unit_stats div.power_small div {
            float: left;
        }
        div.unit_stats div.power_small div.type {
            width: 80px;
        }
        div.unit_stats div.power_small div.stat {
            width: 20px;
            height: 10px;
            padding-left: 12px;
        }
        div.unit_stats div.power_small div.value { background: url('../graphics/battle/stats_small_value.png') top left no-repeat; }
        div.unit_stats div.power_small div.attack { background: url('../graphics/battle/stats_small_attack.png') top left no-repeat; }
        div.unit_stats div.power_small div.defend { background: url('../graphics/battle/stats_small_defend.png') top left no-repeat; }

    div.grid {
    float: left;
}
    div.grid div.grid_row {
        clear: left;
        float: left;
    }
    div.grid div.grid_row:nth-child(even) {
        margin-left:  23px;
    }

        div.grid div.grid_row div.tile {
            float: left;
            width: 44px;
            height: 44px;
            margin-bottom: -8px;
            margin-right: 0px;

            background: url('../graphics/battle/tile.png') top left no-repeat;
            cursor: pointer;
            font-size: 9px;
        }
        div.grid div.grid_row div.tile:hover {
            background-position: bottom left;
        }

        div.grid div.grid_row div.tile_style {
            float: left;
            width: 44px;
            height: 44px;
        }

        div.grid div.grid_row div.tile_selected {
            background: url('../graphics/battle/tile_selected.png') top left no-repeat;
        }
        div.grid div.grid_row div.tile_move {
            background: url('../graphics/battle/tile_move.png') top left no-repeat;
        }
        div.grid div.grid_row div.tile_range {
            background: url('../graphics/battle/tile_range.png') top left no-repeat;
        }
        div.grid div.grid_row div.tile_moveInRange {
            background: url('../graphics/battle/tile_moveInRange.png') top left no-repeat;
        }
        div.grid div.grid_row div.tile_attack {
            background: url('../graphics/battle/tile_attack.png') top left no-repeat;
        }

            div.grid div.grid_row div.tile div.unit {
                position: relative;
                width: 40px;
                height: 40px;
                margin: 0px -40px -40px 4px;

                background-position:  center center;
                background-repeat: no-repeat;
            }
                div.grid div.grid_row div.tile div.unit_player {
                       background-image: url('../graphics/battle/unit_player.gif');
                }
                div.grid div.grid_row div.tile div.unit_enemy {
                    background-image: url('../graphics/battle/unit_enemy.gif');
                }

            div.grid div.grid_row div.tile div.distance {
                position: relative;
                width: 44px;
                margin: 32px 0px 0px 0px;

                text-align: center;
                font-size: 9px;
                color: #ffffff;
            }
            div.grid div.grid_row div.tile:hover div.distance {
                color: #000000;
            }

            div.grid div.grid_row div.tile div.info {
                position: relative;
                float: left;
                z-index: 1000;
                width: 0px;
                height: 0px;
                overflow: hidden;

                transition: all linear 0.5s ;
            }
            div.grid div.grid_row div.tile:hover div.info {
                width: 300px;
                height: 300px;

                transition-delay: 2s;
            }
