<!DOCTYPE html>
<html ng-app="bt">
    <head>
        <title>Binary Tactics</title>
        
        <link rel="stylesheet" href="res/css/main.css" type="text/css" media="all" />
    </head>
    
    <body ng-controller="bt.ng.controller">

        <!-- Header -->
        <div class="section">
            <a>Current user: </a>
            <a ng-show=" bt.game.authentication.isAuthenticated ">{{ bt.game.authentication.username }}</a>
            <hr/>
            <div class="menu">
                <div class="link viewAnimationContainer" ng-repeat=" view in bt.config.views.viewsArray | orderBy: view._index ">
                    <a ng-if=" view.isPublic || bt.game.authentication.isAuthenticated " href="#{{ view._key }}"> {{ view.name }} </a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div></div>
        
        <!-- Includes current view -->
        <div ng-view class="viewAnimationContainer" ng-animate=" { enter: 'enterFromLeft', leave: 'leaveToRight' } "></div>
        

        <script type="text/javascript" src="res/js/3rd_party/angular.115.js"></script>
        <!-- Not yet needed: <script type="text/javascript" src="res/js/3rd_party/angular_resource.115.js"></script> -->
        <script type="text/javascript" src="res/js/3rd_party/angular_jsonrpc.js"></script>
        <!-- Not yet needed: <script type="text/javascript" src="res/js/3rd_party/jquery.202.js"></script> -->
        <!-- BT: JS inclusions -->
        <script type="text/javascript" src="res/js/bt_init.js"></script>
        <script type="text/javascript" src="res/js/bt_config.js"></script>
        <script type="text/javascript" src="res/js/bt_authentication.js"></script>
        <script type="text/javascript" src="res/js/model/bt_model.js"></script>
        <script type="text/javascript" src="res/js/bt_game_frontpage.js"></script>
        <script type="text/javascript" src="res/js/bt_game_equanimity.js"></script>
        <script type="text/javascript" src="res/js/bt_game_battle.js"></script>
        <script type="text/javascript" src="res/js/model/bt_model_battle.js"></script>
        <script type="text/javascript" src="res/js/bt_game_equipment.js"></script>
    </body>
</html>