<div class="section battle_view" ng-controller=" bt.game.battle.ng.controller ">
    <h2>BATTLE VIEW !!!</h2>
    Controller: {{ controllerName }}
    <br/><br/>

    <div class="toolbox">

        <!-- Player information -->
        <div class="group player">
            <div class="header">
                <div class="title">Player:</div>
                <div class="data">{{ bt.game.battle.model.battleField.activePlayer }}</div>

                <div style="clear: both"></div>
                <div>Turn: {{ bt.game.battle.model.battleField.turnNumber }}</div>
                <div>Action: {{ bt.game.battle.model.battleField.actionNumber }} / 2</div>
            </div>
        </div>

        <!-- Game timers -->
        <div class="group section timers">
            <div class="header">
                <div class="title">Timers:</div>
            </div>
            <div class="timer">Battle timer: {{ bt.game.battle.timers.battleTimeFormated }} </div>
            <div class="timer">Action timer: {{ bt.game.battle.timers.playTimeFormated }} </div>
            <div class="action_endturn" ng-click=" passTurn(); ">End turn</div>
        </div>

        <!-- Selected field information -->
        <div ng-if=" bt.game.battle.model.battleField.grid.selectedTile ">
            <div class="group selected">

                <div class="header">
                    <div class="title">Selected Tile</div>
                    <div class="data">{{ bt.game.battle.model.battleField.grid.selectedTile.location.x }}x{{ bt.game.battle.model.battleField.grid.selectedTile.location.y }}</div>

                    <div class="stone">
                        <div class="element earth">{{ bt.game.battle.model.battleField.grid.selectedTile.comp.Earth }}</div>
                        <div class="element fire">{{ bt.game.battle.model.battleField.grid.selectedTile.comp.Fire }}</div>
                        <div class="element ice">{{ bt.game.battle.model.battleField.grid.selectedTile.comp.Ice }}</div>
                        <div class="element wind">{{ bt.game.battle.model.battleField.grid.selectedTile.comp.Wind }}</div>
                    </div>
                </div>

                <!-- Selected field's units -->
                <div class="subgroup">
                    <div ng-repeat=" unit in bt.game.battle.model.battleField.grid.selectedTile.contents ">

                        <div>{{ unit.name }} (<div class="element_small_{{ unit.element }}"></div>), {{ unit.id }}</div>
                        <div class="stone_small">
                            <div class="element earth">{{ unit.comp.Earth }}</div>
                            <div class="element fire">{{ unit.comp.Fire }}</div>
                            <div class="element ice">{{ unit.comp.Ice }}</div>
                            <div class="element wind">{{ unit.comp.Wind }}</div>
                        </div>

                        <div class="unit_stats">
                            <div class="hp">HP: {{ unit.hp }}</div>
                            <div class="power_small">
                                <div class="type">General:</div>
                                <div class="stat value">{{ unit.general.value }}</div>
                                <div class="stat attack">{{ unit.general.attack }}</div>
                                <div class="stat defend">{{ unit.general.defense }}</div>
                            </div>
                            <div class="power_small">
                                <div class="type">Magic:</div>
                                <div class="stat value">{{ unit.magic.value }}</div>
                                <div class="stat attack">{{ unit.magic.attack }}</div>
                                <div class="stat defend">{{ unit.magic.defense }}</div>
                            </div>
                            <div class="power_small">
                                <div class="type">Physical:</div>
                                <div class="stat value">{{ unit.physical.value }}</div>
                                <div class="stat attack">{{ unit.physical.attack }}</div>
                                <div class="stat defend">{{ unit.physical.defense }}</div>
                            </div>
                        </div>

                        <div style="clear: both; float: left; margin-top: 6px;">Weapon: {{ unit.weapon._type }} (<div class="element_small_{{ unit.weapon._dStone.element }}"></div>)</div>
                        <div class="stone_small">
                            <div class="element earth">{{ unit.weapon._dStone.comp.Earth }}</div>
                            <div class="element fire">{{ unit.weapon._dStone.comp.Fire }}</div>
                            <div class="element ice">{{ unit.weapon._dStone.comp.Ice }}</div>
                            <div class="element wind">{{ unit.weapon._dStone.comp.Wind }}</div>
                        </div>
                        <div class="stone_small">
                            <div class="element earth">{{ unit.weaponBonus.comp.Earth }}</div>
                            <div class="element fire">{{ unit.weaponBonus.comp.Fire }}</div>
                            <div class="element ice">{{ unit.weaponBonus.comp.Ice }}</div>
                            <div class="element wind">{{ unit.weaponBonus.comp.Wind }}</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <p>

        <!-- Battle field -->
        <div class="grid">
            <div class="grid_row" ng-repeat=" tileRow in bt.game.battle.model.battleField.grid.tilesByY ">
                <div class="tile" ng-repeat=" tile in tileRow " ng-click=" processAction(tile) ">
                    <div class="tile_style {{ tile.style }}">

                        <div ng-if=" tile.units['scient'].length ">
                            <div class="unit {{ tile.units['scient'][0].style }}"></div>
                        </div>

                        <div class="distance">
                            {{ tile.distance }}
                        </div>

                    </div>

                    <div class="info">
                        <div class="toolbox">

                            <div class="group hover">

                                <div class="header">
                                    <div class="title">Tile</div>
                                    <div class="data">{{ tile.location.x }}x{{ tile.location.y }}</div>

                                    <div class="stone">
                                        <div class="element earth">{{ tile.comp.Earth }}</div>
                                        <div class="element fire">{{ tile.comp.Fire }}</div>
                                        <div class="element ice">{{ tile.comp.Ice }}</div>
                                        <div class="element wind">{{ tile.comp.Wind }}</div>
                                    </div>
                                </div>

                                <!-- Selected field's units -->
                                <div class="subgroup">
                                    <div ng-repeat=" unit in tile.contents ">

                                        <div>{{ unit.name }} (<div class="element_small_{{ unit.element }}"></div>), {{ unit.id }}</div>
                                        <div class="stone_small">
                                            <div class="element earth">{{ unit.comp.Earth }}</div>
                                            <div class="element fire">{{ unit.comp.Fire }}</div>
                                            <div class="element ice">{{ unit.comp.Ice }}</div>
                                            <div class="element wind">{{ unit.comp.Wind }}</div>
                                        </div>

                                        <div class="unit_stats">
                                            <div class="hp">HP: {{ unit.hp }}</div>
                                            <div class="power_small">
                                                <div class="type">General:</div>
                                                <div class="stat value">{{ unit.general.value }}</div>
                                                <div class="stat attack">{{ unit.general.attack }}</div>
                                                <div class="stat defend">{{ unit.general.defense }}</div>
                                            </div>
                                            <div class="power_small">
                                                <div class="type">Magic:</div>
                                                <div class="stat value">{{ unit.magic.value }}</div>
                                                <div class="stat attack">{{ unit.magic.attack }}</div>
                                                <div class="stat defend">{{ unit.magic.defense }}</div>
                                            </div>
                                            <div class="power_small">
                                                <div class="type">Physical:</div>
                                                <div class="stat value">{{ unit.physical.value }}</div>
                                                <div class="stat attack">{{ unit.physical.attack }}</div>
                                                <div class="stat defend">{{ unit.physical.defense }}</div>
                                            </div>
                                        </div>

                                        <div style="clear: both; float: left; margin-top: 6px;">Weapon: {{ unit.weapon._type }} (<div class="element_small_{{ unit.weapon._dStone.element }}"></div>)</div>
                                        <div class="stone_small">
                                            <div class="element earth">{{ unit.weapon._dStone.comp.Earth }}</div>
                                            <div class="element fire">{{ unit.weapon._dStone.comp.Fire }}</div>
                                            <div class="element ice">{{ unit.weapon._dStone.comp.Ice }}</div>
                                            <div class="element wind">{{ unit.weapon._dStone.comp.Wind }}</div>
                                        </div>
                                        <div class="stone_small">
                                            <div class="element earth">{{ unit.weaponBonus.comp.Earth }}</div>
                                            <div class="element fire">{{ unit.weaponBonus.comp.Fire }}</div>
                                            <div class="element ice">{{ unit.weaponBonus.comp.Ice }}</div>
                                            <div class="element wind">{{ unit.weaponBonus.comp.Wind }}</div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="clear: both;"></div>

    </p>
</div>