<div class="section battle_view" ng-controller=" bt.game.battle.ng.controller ">
    <h2>BATTLE VIEW !!!</h2>
    Controller: {{ controllerName }}
    <br/><br/>
    
    <div class="timers">
        <h3>Timers:</h3>
        <div class="timer"> {{ bt.game.battle.timers.battleTime }} </div>
        <div class="timer"> {{ bt.game.battle.timers.playTime }} </div>
    </div>
    
    <p>

        <div class="grid">
            <div class="grid_row" ng-repeat=" tileRow in bt.game.battle.model.battleField.grid.tilesByY ">
                <div class="tile" ng-repeat=" tile in tileRow ">

                    <div ng-if=" tile.contents.length ">
                        <div class="unit"></div>
                    </div>

                    <div class="info">
                        <div class="header">Tile @ {{ tile.location.x }}x{{ tile.location.y }}</div>
                        <div class="details">
                            <div class="title">Composition:</div>
                            <div class="detail">Fire: {{ tile.comp.Fire }}</div>
                            <div class="detail">Earth: {{ tile.comp.Earth }}</div>
                            <div class="detail">Ice: {{ tile.comp.Ice }}</div>
                            <div class="detail">Wind: {{ tile.comp.Wind }}</div>
                        </div>
                        <div class="details" ng-repeat=" unit in tile.contents ">
                            <div class="title">Unit: {{ unit.name }}</div>
                            <div class="detail">Type: {{ unit._type }}</div>
                            <div class="detail">Owner: {{ unit.owner }}</div>
                            <div class="detail">Sex: {{ unit.sex }}</div>
                            <div class="detail">Composition: E:{{ unit.comp.Earth }} F:{{ unit.comp.Fire }} I:{{ unit.comp.Ice }} W:{{ unit.comp.Wind }}</div>
                            <div class="detail">Element: {{ unit.element }}</div>
                            <div class="details">
                                <div class="title">Stats:</div>
                                <div class="detail">Value: {{ unit.general.value }}</div>
                                <div class="detail">Attack: {{ unit.general.attack }}</div>
                                <div class="detail">Defense: {{ unit.general.defense }}</div>
                                <div class="detail">Magic value: {{ unit.magic.value }}</div>
                                <div class="detail">Magic attack: {{ unit.magic.attack }}</div>
                                <div class="detail">Magic defense: {{ unit.magic.defense }}</div>
                                <div class="detail">Physical value: {{ unit.physical.value }}</div>
                                <div class="detail">Physical attack: {{ unit.physical.attack }}</div>
                                <div class="detail">Physical defense: {{ unit.physical.defense }}</div>
                            </div>
                            <div class="details">
                                <div class="title">Weapon: {{ unit.weapon._type }}</div>
                                <div class="detail">Element: {{ unit.weapon._dStone.element }}</div>
                                <div class="detail">Composition: E:{{ unit.weapon._dStone.comp.Earth }} F:{{ unit.weapon._dStone.comp.Fire }} I:{{ unit.weapon._dStone.comp.Ice }} W:{{ unit.weapon._dStone.comp.Wind }}</div>
                            </div>
                            <div class="details">
                                <div class="title">Weapon bonus:</div>
                                <div class="detail">Composition: E:{{ unit.weaponBonus._dStone.comp.Earth }} F:{{ unit.weaponBonus._dStone.comp.Fire }} I:{{ unit.weaponBonus._dStone.comp.Ice }} W:{{ unit.weaponBonus._dStone.comp.Wind }}</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div style="clear: both;"></div>

    </p>
</div>